/* The Tortured Poets Department (Dark Theme) */
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
    background-color: #2E2E2E;
    font-family: "Special Elite", cursive;
    color: #CFCFCF;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.11);
    flex-wrap: wrap; /* Permite que los elementos se acomoden en varias líneas si es necesario */
    overflow-x: auto; /* Evita que el contenido sobresalga del viewport */
}

nav a {
    flex: 1; /* Distribuye el espacio equitativamente */
    text-align: center;
    text-decoration: none;
    color: #c4c4c4;
    font-size: 1.2rem;
    padding: 10px 0;
    min-width: 100px; /* Evita que los links sean demasiado pequeños */
    white-space: nowrap; /* Evita saltos de línea no deseados */
}

nav a:first-child {
    border-right: 2px solid #c4c4c4;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1B1B1B;
    padding: 10px 20px;
}

header h2 {
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px #000;
}

header select,
header a {
    background-color: #3A3A3A;
    color: #CFCFCF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
}

header select:hover,
header a:hover {
    background-color: #555;
}

/* CONTENEDOR */
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #3A3A3A;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.container h2 {
    font-size: 2rem;
    color: #FFF;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #000;
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}

thead {
    background-color: #1B1B1B;
    color: #CFCFCF;
}

thead th {
    padding: 10px;
}

tbody tr {
    background-color: #2E2E2E;
    color: #CFCFCF;
}

tbody tr:nth-child(even) {
    background-color: #3A3A3A;
}

tbody td {
    padding: 10px;
}

tbody tr:hover {
    background-color: #555;
    color: #FFF;
}

/* INPUT */
input[type="number"] {
    background-color: #4A4A4A;
    color: #CFCFCF;
    border: 1px solid #555;
    border-radius: 5px;
    width: 70px;
    padding: 3px;
    margin-right: 5px;
    text-align: center;
}

/* BOTONES */
button {
    background-color: #555;
    color: #CFCFCF;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 2px;
    text-transform: uppercase;
}

button:hover {
    background-color: #777;
}
