/* Evermore (Dark Theme) */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

body {
    background-color: #2B1F1A;
    font-family: "Lora", serif;
    color: #EDE0D8;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5A463A;
    padding: 10px 20px;
}

header h2 {
    font-size: 1.6rem;
}

header select,
header a {
    background-color: #8B5E34;
    color: #EDE0D8;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
}

header select:hover,
header a:hover {
    background-color: #5A463A;
}

/* CONTENEDOR */
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #3A2B25;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.container h2 {
    font-size: 2rem;
    color: #EDE0D8;
    margin-bottom: 10px;
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}

thead {
    background-color: #8B5E34;
    color: #FFF;
}

thead th {
    padding: 10px;
}

tbody tr {
    background-color: #5A463A;
    color: #EDE0D8;
}

tbody tr:nth-child(even) {
    background-color: #4C3A31;
}

tbody td {
    padding: 10px;
}

tbody tr:hover {
    background-color: #8B5E34;
    color: #FFF;
}

/* INPUT */
input[type="number"] {
    background-color: #EDE0D8;
    color: #5A463A;
    border: 1px solid #8B5E34;
    border-radius: 5px;
    width: 70px;
    padding: 3px;
    margin-right: 5px;
    text-align: center;
}

/* BOTONES */
button {
    background-color: #8B5E34;
    color: #FFF;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 2px;
}

button:hover {
    background-color: #5A463A;
}
